<div class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron hero-spacer">
          <h1>Polingual</h1>
          <p>What have you tried so far just to speak?<br>
             Be efficient</p>
          <p><a class="btn btn-primary btn-large">Call to action!</a>
          </p>
      </header>
</div>
